.container {
  display: grid;
  grid-template-columns: 120px auto 120px;
  grid-template-rows: 1fr 100px;
  height: 100%;
}

.container_left {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.container_right {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.unity_container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unity {
  width: 100%;
  max-width: 78vw;
  max-height: 85vh;
  aspect-ratio: 12 / 8;
  border-radius: 32px;
}

.page_button {
  font-family: "ansungyangmyun";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  font-size: 60px;
  margin-inline: 28px;
}

.container_input {
  width: auto;
  grid-column: 2 / 3;
  grid-row: 2;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.container_input_flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border: 1px solid #000000;
  border-radius: 16px;
}

.input {
  font-size: 16px;
  border: none;
  width: 50vw;
  height: 3.5vh;
  resize: none;
  overflow: auto;
}

.input::placeholder {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.icon {
  width: 32px;
}
