.container {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  grid-template-rows: 100px 1fr;
  height: 100%;
}

.title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-image: url(/image/keyword_title.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.left {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
.center {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-image: url(/image/vs_mark.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.right {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  cursor: pointer;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
